# Ape stuff
.build/
.cache/

# Python
.env
.venv
.pytest_cache
.python-version
__pycache__
venv
venv
.hypothesis
build
contracts
.hypothesis
backup.py
scripts/private_queries.py
raw_boost_data.json
prisma_liquid_locker_data.json