# Ape stuff
.build/
.cache/

# Python
.env
.venv
.pytest_cache
.python-version
__pycache__
venv
venv
.hypothesis
build
contracts
.hypothesis
backup.py
scripts/private_queries.py
.vscode
cache
scripts/charts.py